{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Exercise Rec</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <style>
        h1 {
            font-size: 40px;
        }

        .card {
            border-radius: 78px;
            padding: 5px;
            background: #F9EED7;
            margin: auto;
        }

        body {
            margin: 0;
            font-size: 21px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f9ea8f;
            background: 
            url(../static/images/fitness.png) center top no-repeat fixed,
                        url(../static/images/stretching-exercises.png) right bottom no-repeat fixed,
                        url(../static/images/man-exercising-legs.png) left bottom no-repeat fixed,
                        linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
            background-size: 120px, 310px, 270px, auto;
        }

        .container-fluid {
            padding: 10px;
            text-decoration: none;
            font-size: 21px;
            background-color: #5DB075;
        }

        .container img {
            filter: drop-shadow(0 0 0.75rem grey);
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            color: rgb(255, 255, 255);
            margin: 10px;
        }

        a.dropdown-item {
            font-size: 15px;
            padding:0;
            width: 125.2px;
        }

        nav {
            height: 60px;
            font-size: medium;
        }

        .fname {
            font-size: 22px;
            background-color: red;

        }

        .inputfname {
            font-size: 22px;
            background-color: red;
        }

        .flname {
            font-size: 22px;
            background-color: yellow;

        }

        .bdate {
            font-size: 22px;
            background-color: green;

        }

        .emptySpace {
            margin-bottom: 80px;
        }
    </style>


</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="../static/images/LogoHU.png" alt="logo" width="80px"
                height="80px"></a>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Doctor">For Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Profile
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Setting</a>
                    <a class="dropdown-item" href="#">About Us</a>
                    <a class="dropdown-item" href="#">Log Out</a>

                </div>
            <li class="nav-item">
                <a class="nav-link" href="#">Hi New!</a>
            </li>
            </li>
        </ul>
    </nav>

    <div class="emptySpace">
        <h1></h1>
    </div>


    <div class="card container col d-flex flex-column justify-content-center w-75 h-50">
        <h1 align="center" class="mt-3">Add patient information</h1>
        <form>
            <div class="row justify-content-around mt-3">
                <div class="form-group col-4">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Input your first name" required>

                </div>

                <div class="form-group col-4">
                    <label for="flname">Family name</label><br>
                    <input type="text" class="form-control" name="flname" placeholder="Input your family name" required>
                </div>
            </div>

            <div class="row justify-content-around mt-3">

                <div class="form-group col-4">
                    <label for="birthday">Birthday</label>
                    <input class="form-control" type="date" id="birthday" required>
                </div>

                <div class="col-4">
                    <label for="dicease">Sex</label><br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gender" name="gender"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="gender">male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gender2" name="gender"
                            class="custom-control-input">
                        <label class="custom-control-label" for="gender2">female</label>
                    </div>
                </div>


            </div>

            <div class="col mt-3">
                <label class="d-flex col mt-3 ml-4"> &nbsp; Disease:</label>
            </div>

            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; High Blood Pressure</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="High blood presure" name="High blood presure"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="High blood presure">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="High blood presure2" name="High blood presure"
                            class="custom-control-input">
                        <label class="custom-control-label" for="High blood presure2">no</label>
                    </div>
                </div>
            </div>


            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Hypokinesia</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="hypo" name="hypo"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="hypo">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="hypo2" name="hypo"
                            class="custom-control-input">
                        <label class="custom-control-label" for="hypo2">no</label>
                    </div>
                </div>
            </div>


            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Obesity</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Obesity" name="Obesity"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="Obesity">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Obesity2" name="Obesity"
                            class="custom-control-input">
                        <label class="custom-control-label" for="Obesity2">no</label>
                    </div>
                </div>
            </div>



            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Osteoporosis</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Osteoporosis" name="Osteoporosis"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="Osteoporosis">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Osteoporosis2" name="Osteoporosis"
                            class="custom-control-input">
                        <label class="custom-control-label" for="Osteoporosis2">no</label>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <label class="d-flex col mt-3 ml-4"> &nbsp; Note:</label>
            </div>

            <!-- <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Active Exercise</label>
                <div class="col-4">
                    <input type="radio" name="Active Exercise" required> &nbsp;&nbsp; yes &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="Active Exercise"> &nbsp;&nbsp; no &nbsp;&nbsp;&nbsp;
                </div>
            </div> -->

            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Active Exercise</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Active Exercise" name="Active Exercise"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="Active Exercise">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Active Exercise2" name="Active Exercise"
                            class="custom-control-input">
                        <label class="custom-control-label" for="Active Exercise2">no</label>
                    </div>
                </div>
            </div>


            <!-- <div class="row justify-content-around mt-3 ">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Fall</label>
                <div class="col-4">
                    <input type="radio" name="Fall" required> &nbsp;&nbsp; yes &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="Fall"> &nbsp;&nbsp; no &nbsp;&nbsp;&nbsp;
                </div>
            </div> -->

            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Fall</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Fall" name="Fall"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="Fall">yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Fall2" name="Fall"
                            class="custom-control-input">
                        <label class="custom-control-label" for="Fall2">no</label>
                    </div>
                </div>
            </div>

            

            <!-- <div class="row justify-content-around mt-3 ">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Exercise Guidance</label>
                <div class="col-4">
                    <input type="radio" name="Exercise guidance" required> &nbsp;&nbsp; yes &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="Exercise guidance"> &nbsp;&nbsp; no &nbsp;&nbsp;&nbsp;
                </div>
            </div> -->

            <div class="row justify-content-around mt-3">
                <label class="col-4" for="dicease"> &nbsp;&nbsp;&nbsp;&nbsp; Exercise Guidance</label>
                <div class="col-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Exercise guidance" name="Exercise guidance"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="Exercise guidance" >yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Exercise guidance2" name="Exercise guidance"
                            class="custom-control-input">
                        <label class="custom-control-label" for="Exercise guidance2">no</label>
                    </div>
                </div>
            </div>

            <div align="center" class="mt-5">
                <button type="submit" class="btn btn-success ">submit</button>
            </div>


        </form>

    </div>

</body>

</html>